.my-quiz-container {
    /* max-width: 400px; */
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
    /* background-color: #2ecc71; */
  
.fadeIn-card{
  animation: fadeInCard 1500ms;
}

.fadeOut-card{
  animation: fadeOutCard 1500ms;
}

@keyframes fadeInCard {
  0% { opacity: 0%;}
  100% { opacity: 100%;}
}

@keyframes fadeOutCard {
  0% { opacity: 100%;}
  90% { opacity: 0%;}
}