@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
}

.font-cursive{
  font-family: 'Sriracha', cursive;
}

.font-ubuntu{
  font-family: 'Ubuntu', sans-serif;
}



